<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VideoList</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<div class="login">
    Username: <input class="username" type='text'/>
    Password: <input class="password" type="password"/>
    <button class="loginSubmit">Login</button>
</div>
<div class="mainpage">
    <div class="mainpage-header">
        <p> Admin, welcome back </p>
        <button class="getList"> Get Video List </button>
        <button class="logoutSubmit">Logout</button>
    </div>
    <div class="listMain">
        <div class="content1">
            <div class="cell">Username</div>
            <div class="cell mid">Record Time</div>
            <div class="cell">Download</div>
        </div>
        <div class="content">
            <div class="cell">null</div>
            <div class="cell mid">null</div>
            <div class="cell">null</div>

        </div>


    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="index.js"></script>
</body>
</html>